*{
    padding: 0%;
}

body{
    background-color: hsl(217, 54%, 11%);
    justify-content: center;
    font-size: 18px;
    display: flex;
    position: relative;
    top: 150px;

}
.main{
    font-family: 'Outfit', sans-serif;
    padding-top: 25px
}
.card{
    background-color:  hsl(216, 50%, 16%);
    width: 350px;
    height: 580px;
    position: relative;
    text-align: left;
    border-radius: 15px;

}
.imagen{
    width: 310px;
    height: 290px;
    position: relative;
    border-radius: 10px;
    display: flex;
    left: 20px;
    top: 20px;
}
h3{
    color: hsl(0, 0%, 100%);
    padding-top: 25px;
    position: relative;
    left: 20px;

}
.p0{
   color: hsl(215, 51%, 70%);
   position: relative;
   left: 20px;
   
}

.ether{
    display: flex;
    left: 20px;
    position: relative;

}
.p1{
    color: hsl(178, 100%, 50%);
    position: relative;
    left: 40px;
    bottom: 38px;
}
.reloj{
    display: flex;
    position: relative;
    left: 220px;
    bottom: 76px;
}
.p2{
    color: hsl(215, 51%, 70%);
    position: relative;
    left: 240px;
    bottom: 115px;
}
.foot{
    width: 300px;
    left: 25px;
    position: absolute;
    bottom: 90px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.perfil{
    width: 40px;
    position: relative;
    display: flex;
    left: 3px;
    top: 165px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.p3{
    display: flex;
    position: relative;
    left: 60px;
    top: 118px;
    color: hsl(215, 51%, 70%);;
}
.p4{
    display: flex;
    position: relative;
    left: 155px;
    top: 77px;
    color: hsl(0, 0%, 100%);
}