* {
    margin: 0;
    padding: 0;
}
body{
    color: #fff;

}
.container-grid{
    display: grid;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main image image image"
    "main extra extra extra"
    "banner banner banner banner";
    grid-template-rows: 50px 400px repeat(3, 100px);
}
.header{
    background-color: #00034c;
    grid-area: header;
}
.nav{
    background-color: red;
    grid-area: menu;
}
.hero{
    background-color: rgb(17,100,133);
    grid-area: hero;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{
    background-color: #00034c;
    grid-area: main;
}
.image{
    background-color: aquamarine;
    grid-area: image;
}
.extra{
    background-color: green;
    grid-area: extra;
}
.banner{
    background-color: rgb(234, 182, 26);
    grid-area: banner;
}